@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --cor-primaria:  #2C3333;
    --cor-secundria: #CBE4DE;
    --cor-terciaria: #0E8388;
    --cor-alternativa: #2E4F4F;
    --cor-hover: #272727;

    --fonte-krona: 'Krona One', sans-serif;
    --fonte-Mont: 'Montserrat', sans-serif;
}

*{

    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
background-color: var(--cor-primaria);
color: var(--cor-secundria);

}

strong {
    color: var(--cor-terciaria);
}

.gata{
    width: 45%;
    height: 40%;
    left: 30%;
    top: 35%;

    
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    font-family: var(--fonte-Mont);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;

}

.cabecalho__menu__link:hover{
    color: var(--cor-alternativa);
}

.apresentacao{
    padding: 5% 15%;
display: flex;
align-items: center;
justify-content: space-between;
gap: 82px;
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-family: var(--fonte-krona);
    font-size: 2.25rem;
}

.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--fonte-Mont);
}
.apresentacao__links{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo{
    font-family:var(--fonte-krona);
    font-weight: 400;
    font-size: 1.5rem;
    
}

.apresentacao__links__navegacao{
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    text-align: center;
    border-radius: 8PX;
    font-size: 1.5rem;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-alternativa);
    font-family: var(--fonte-Mont);
    font-weight: 600;
    border: 2px solid var(--cor-alternativa);
}

.apresentacao__links__link:hover{
    background-color: var(--cor-hover);
    font-size: 1.5625rem;
}

.rodape{
    color: black;
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-Mont);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px) {


    .cabecalho{
    padding: 10%;

}
    .cabecalho__menu{
    justify-content: center;
}

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo{
        width: auto;
    }
    
    
     .apresentacao__links__navegacao{
        gap: 5%;
    }
    
    
    
}
